{% extends "base.html" %}

{% from "components/enrich_components.html" import head_extras, data_management_section,
portfolio_data_section %}

{% block title %}Enrich Portfolio Data - Prismo{% endblock %}

{% block head_extras %}
{{ super() }}
{{ head_extras() }}
{% endblock %}

{% block content %}
<div class="enrich-page">
<h1 class="page-title">Enrich</h1>

<!-- Data Management Section -->
{{ data_management_section(url_for, portfolios) }}

<!-- Portfolio Data Section -->
<h2 class="section-title">Portfolio Data</h2>
{{ portfolio_data_section(portfolios, countries) }}

<!-- Hidden data elements for JavaScript -->
<script id="portfolios-data" type="application/json">{{ portfolios|tojson|safe }}</script>
<script id="default-portfolio" type="text/plain">{{ use_default_portfolio|lower|default('false')|string }}</script>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/utils/locale-utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/value-calculator.js') }}"></script>
<script src="{{ url_for('static', filename='js/enrich.js') }}"></script>
{% endblock %}